<header>
    <div class="navbar navbar-dark shadow-sm">
        <div class="container">
            <div class="navbar-brand align-item-center d-flex">
                <i style="font-size: 40px;" class="fas fa-solid fa-truck">&nbsp;
                </i>
                <strong style="font-size: 30px;">Mani Stores</strong>
                <div class="form-group">
                    <input type="text"class="form-control" placeholder="search products">
                </div>
                <span class="fas fa-search search-icon"></span>
            </div>
            <div>
                <button class="btn">
                    <i style="font-size: 30px; color: white" class="fas fa fa-user"></i>
                </button>
                <button class="btn">
                    <i style="font-size: 30px; color: white" class="fas fa-solid fa-cart-shopping"></i>
                    <div class="font-size: 10px;" class="badge bg-danger">5</div>
                </button>
            </div>
        </div>
    </div>
</header>