header {
    padding-top: 70px;
  }
  
.navbar {
    background-color: darkblue;
}

.nav-item{
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

.form-control {
    border-radius: 3px;
    width: 300px;
    margin-left: 28px;
}

.search-icon {
    position: absolute;
    z-index: 10;
    right: 63%;
    top: 22px;
    color: darkblue;
}

.btn {
    background-color: darkblue;
}