<div class="container mt-4" >
    <ng-container>
        <h3>Transaction Acknowledgement</h3>
        <br>
        <p><b>Thank You.</b></p>
        <p>Your payment request has been successfully recorded. Please quote your transaction reference number for any queries relating to this request.</p>
        <br>
        <div class="card" style="border: none;">
                <div class ="table-responsive-md">                  
                <table class="table table-hover">
                    <tbody class="table-group-divider">
                        <tr>
                            <td><b>Transaction Reference Number:</b></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><b>Transaction Date and Time:</b></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><b>Order Id:</b></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><b>Name:</b></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><b>Amount:</b></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                </div>
        </div>
    </ng-container>
    
</div>