.col-auto{
    background-color: darkblue;
}

.nav-link{
    color: #fff;
}

span{
    padding: 10px;
}

.card{
    border-width: 2px; 
    border-color: darkblue; 
}

.box{
    padding: 10px;
}

.title{
    text-align: center; 
    font-size: xx-large; 
    font-weight: bold; 
    color: darkblue;
}