<div class="container mt-4" >
 
    <div class="card">
            <h1>Registating the Product</h1>
     
    <form>
        <div class="form-group">
          <label>Name</label>
          <input type="text" [(ngModel)]="name" [ngModelOptions]="{standalone: true}"  class="form-control" id="name" placeholder="Enter Name">
     
        </div>
     
        <div class="form-group">
            <label>Description</label>
            <input type="text" [(ngModel)]="description" [ngModelOptions]="{standalone: true}"  class="form-control" id="address" placeholder="Enter Description">
      
          </div>
      
          <div class="form-group">
            <label>Price</label>
            <input type="text" [(ngModel)]="price" [ngModelOptions]="{standalone: true}" class="form-control" id="phone" placeholder="Enter Price">
      
          </div>

          <label htmlFor='uploadImage'>
            <div className='uploadBox'>
              <input type='file' multiple accept="image/*" id='uploadImage' (change)="upload_images($event)"/>
            </div>
          </label>

        <button type="submit" class="btn btn-primary mt-4" (click)="prod_reg()" >Submit</button>
      </form>
    </div>
    <div>