body {
    display: flex;
    justify-content: center;
    height: 100vh;
  }

  label{
    color: darkblue;
  }
  
  .card{
    padding: 10px;
    border-width: 2px; 
    border-color: darkblue; 
  }

  .col-auto{
    padding: 5px;
  }

  .btn-primary{
    background-color: darkblue;
    border-radius:0%; 
  }
  
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .center {
    text-align: center;
  }