<div class="card-top container-fluid">
    <div class="container d-flex">
        <div class="item">
            <a>
                <img src="https://cdn-icons-png.flaticon.com/512/839/839155.png" alt="all products">
                <h6>All products</h6>
            </a>
        </div>
        <div class="item">
            <a>
                <img src="https://cdn-icons-png.flaticon.com/512/448/448003.png" alt="cakes">
                <h6>Cakes</h6>
            </a>
        </div>
        <div class="item">
            <a>
                <img src="https://cdn-icons-png.flaticon.com/512/403/403631.png" alt="pickles">
                <h6>Pickles</h6>
            </a>
        </div>
        <div class="item">
            <a>
                <img src="https://static.vecteezy.com/system/resources/thumbnails/024/282/370/small/papad-icon-in-3d-style-vector.jpg" alt="papads">
                <h6>Papads</h6>
            </a>
        </div>
    </div>
</div>