.card{
    margin: 45px;
}

.card-header{
    height: 60px;
    background-color: darkblue;
}

.header-font{
    color: #fff;
    text-align: center;
}

.btn-outline-success, .btn-outline-secondary{
    margin: 0px 20px 20px 20px;
}
