<div class="container">
    <div class="row">
        <ng-container>
            <div class="card col-md-3">
                <div class="images" *ngFor="let image of product.images">
                    <img [src]="image" alt="image" height="150" width="150">
                </div>
                <h5 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">{{product.name}}</h5>
                <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">{{product.description}}</p>
                <p><strong>Price:</strong> ₹{{product.price}}</p>
                <button class="btn btn-primary" (click)="addtocart(product)">Add to cart</button>
            </div>
        </ng-container>
    </div>
</div>